.my-footer{
    background-color: #163b65;
    height: 5em;
    margin-top: 3em;
    padding: 1em;
    color: #FFFFFF;
    font-size: 80%;
 }
 .room-image{
     max-width: 50%;
 }
 p {

 }
 .datepicker{
   top: 0;
   z-index: 10000;
 }
 